.right-menu-list {
  display: flex;
  list-style-type: none;
  color: #7b7b81;
  cursor: pointer;
  height: 28px;
  align-items: center;
  font-size: 14px;
}

.right-icons {
  font-size: 18px;
  width: 0px !important;
  margin-left: 12px !important;
  margin-right: 30px !important;
}

.list-bottom {
  border-bottom: 1px solid #e8e8ee;
}

.right-list-text {
  margin-left: 2px;
}

.second-list-icon {
  position: absolute;
  right: 8px;
}
