html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.root-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.2fr 0.80fr;
    grid-template-rows: 1fr 15fr;
    grid-template-areas: "top-container top-container" "left-container middle-container";
    .header-container {
        display: flex;
        align-items: center;
        grid-area: top-container;
        background-color: #0278d7;
        color: #ffffff;
    }
    .left-container {
        grid-area: left-container;
        background-color: #f3f2f1;
        border-right: #ddd5d5 solid 1px;
        height: 100%;
    }
    .middle-container {
        grid-area: middle-container;
        background-color: #ffffff;
    }
    .right-container {
        grid-area: right-container;
        background-color: #f3f2f1;
    }
}

.menu-button-container,
.my-day-container {
    height: 48px;
}

.menu-icon {
    color: #767678 !important;
    margin: 6px !important;
    font-size: 22px !important;
    display: inline-block;
    width: 0px !important;
    cursor: pointer;
}

li {
    display: flex;
    list-style-type: none;
    padding: 7px;
    font-size: 15px;
    color: #262627;
    cursor: pointer;
    align-items: center;
    position: relative;
}

li:hover {
    background: #fcfcfc;
}

.blue-text::placeholder {
    color: #006fd7;
}

.green-icon {
    color: #4a8b6d !important;
}

.grey-red-bg:hover {
    background: #e6e6e6;
}

.blue-bg:hover {
    background: #00549e;
}

.menu-icon-container {
    margin-top: 10px;
    margin-left: 8px;
    width: 35px;
    height: 35px;
    float: left;
    display: block;
}

.white-bg:hover {
    background: #fcfcfc;
    border: #e9e9e9 solid 1px;
}

.material-icons {
    cursor: pointer;
}

.list-icons {
    color: #767678 !important; //common
    width: 30px !important;
    font-size: 20px !important;
    margin-left: 8px !important;
}

ul {
    padding: 0px;
}

.new-list {
    font-size: 15px;
}

.grey-bg:hover {
    background: #f4f4f4;
}

.text-strike {
    text-decoration: line-through;
    color: #616161;
}

.radio-icon {
    width: 0px !important;
    margin-right: 23px !important;
    font-size: 23px !important;
}

.blue-icon {
    color: #006fd7 !important;
}

.hide-left-container {
    grid-template-columns: 0.75fr 0.25fr;
    grid-template-areas: "top-container top-container" "middle-container right-container";
}

.hide-both-containers {
    grid-template-columns: 1fr;
    grid-template-areas: "top-container" "middle-container";
}

.show-both-containers {
    grid-template-columns: 0.20fr 0.55fr 0.25fr;
    grid-template-areas: "top-container top-container top-container" "left-container middle-container right-container";
}