.tasks-container {
  max-height: 65vh; //70vh
  overflow: auto;
}

.task,
.empty-task {
  height: 55px;
  margin-left: 14px;
}

.bottom-border {
  color: #e8e8ee;
  opacity: 0.25;
  width: 94%;
  margin: auto;
}

.dropdown-icon {
  margin-left: 13px;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.completed-heading {
  display: inline-block;
  color: #2a2a2b;
  font-size: 17px;
  margin-top: 15px;
  margin-left: 20px;
}

.completed-count {
  margin-top: 8px;
  margin-left: 10px;
  font-size: 14px;
  color: rgb(97, 97, 97);
}

.task:hover {
  background: #f4f4f4;
  border-radius: 7px;
}
