.add-icon {
  width: 30px;
  font-size: 22px !important;
  margin-left: 15px !important;
}

.new-list-container {
  display: flex;
  position: relative;
  height: 35px;
  align-items: center;
}

.note-add-icon {
  position: relative;
  right: 2px;
}

.new-list-input-box {
  height: 80%;
  width: 68%;
  border: none;
  outline: none;
  background: #f4f4f4;
}

.new-list-container .new-list-input-box:hover {
  background: #fcfcfc !important;
}

.new-list-container :focus {
  background: #fcfcfc !important;
}

.new-list-input-box::placeholder {
  color: #006fd7;
}

.left-bottom-container {
  border-top: 1px solid #dadae4;
  height: 8%;
}

.left-bottom-icons {
  color: #767678;
  font-size: 17px !important;
  cursor: pointer;
  max-width: 7%;
  padding: 5.8% 6.5%;
}

.categories-container {
  height: 83.2%;
}

.scrollable-container {
  max-height: 450px;
  overflow: auto;
}
